# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# System
.DS_Store
Thumbs.db

# Output
output/

# Models
*.pth
*.onnx

# Configuration

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Audio/Video files
*.avi
*.wav

# Other
*.zip
*.tar.gz
*.tar

# Jupyter
.ipynb_checkpoints/

# Useless files
useless/

# FunASR audio

# AutoDL tmp files
autodl-tmp/

# Git
.git/

# Third-party code


